import(doParallel)
import(e1071)
import(foreach)
import(gbm)
import(iterators)
import(MASS)
import(mzR)
import(randomForest)
import(Rcpp)
import(rgl)
import(ROCR)
import(ROCS)
import(snow)
import(splines)

export(adjust.time)
export(adaptive.bin)
export(cdf.to.ftr)
export(cont.index)
export(EIC.plot)
export(EIC.plot.learn)
export(feature.align)
export(load.lcms)
export(interpol.area)
export(draw.cfd.2d)
export(draw.txt.2d)
export(present.cdf.3d)
export(proc.cdf)
export(proc.txt)
export(prof.to.features)
export(recover.weaker)
export(semi.sup)
export(semi.sup.learn)
export(find.tol)
export(find.turn.point)
export(make.known.table)
export(combine.seq.3)
export(target.search)
export(two.step.hybrid)
export(unsupervised)
export(hybrid)
export(get_sample_name)
