import(doParallel)
import(e1071)
import(foreach)
import(gbm)
import(iterators)
import(MASS)
import(mzR)
import(randomForest)
import(Rcpp)
import(rgl)
import(ROCR)
import(ROCS)
import(snow)
import(splines)

export(adjust.time)
export(adaptive.bin)
export(cont.index)
export(feature.align)
export(load.lcms)
export(interpol.area)
export(proc.cdf)
export(prof.to.features)
export(recover.weaker)
export(semi.sup)
export(find.tol)
export(find.turn.point)
export(make.known.table)
export(combine.seq.3)
export(two.step.hybrid)
export(unsupervised)
export(hybrid)
export(extract_pattern_colnames)
export(sort_samples_by_acquisition_number)
export(load_data)
export(load_file)
export(plot_raw_profile_histogram)
export(compute_densities)
export(compute_mass_values)
export(compute_breaks)
export(rm.ridge)
export(augment_with_known_features)
